<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <select name="select_place2"> 
                <option value="광산구">광산구</option>
                <option value="남구">남구</option>
                <option value="동구">동구</option>
                <option value="북구">북구</option>
                <option value="서구">서구</option>
            </select>
    
    <input type="submit" value="확인">
    
    
</body>
</html>