<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <select name="select_place2"> 
                <option value="대덕구">대덕구</option>
                <option value="동구">동구</option>
                <option value="서구">서구</option>
                <option value="유성구">유성구</option>
                <option value="중구">중구</option>
             
            </select>
    
    <input type="submit" value="확인">
    
    
</body>
</html>