<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>base1</title>
    <link rel="stylesheet" href="base1.css">
</head>
<body>
    <section class="top__"></section>
    
    <section class="trip_space">

            <h1>{{value}} -> 세부여행지 정하기</h1>

            <form name="" action="{% url 'attraction2' %}"  method="GET">
                    <input type = "text" name = "this_val" style="display: none;" value="{{value}}">
                    {% block content1 %}
                    {% endblock %}
            
            <input type="submit" value="확인">
            </form>
            
            {%for i in attraction%}
            
            {{i}}
            
            {%endfor%}

    </section>

    <section class="select_box">
        <div class="selectttt_boxx">
            장소<br>
            정보
        </div>

    </section>

    <section class="chatting">

    </section>

    <section class="weather">

    </section>
    
</body>
</html>