<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>base2</title>
</head>

<body>

        <h1>{{value}} -> 세부여행지 정하기</h1>

    
<form name="" action="{% url 'attraction2' %}"  method="GET">
        <input type = "text" name = "this_val" style="display: none;" value="{{value}}">
        {% block content1 %}
        {% endblock %}

<input type="submit" value="확인">
</form>

{%for i in attraction%}

{{i}}

{%endfor%}



    
    
</body>
</html>